<html>
  <head>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" type="text/css">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
	<div class="one-half column">
		<h3>Register</h3>
		<form action="/processRegister" method="POST">
			<input name="email" type="email">
			<input name="fname" type="text">
			<input name="alias" type="text">
			<input name="pword" type="password">
			<input name="cpword" type="password">
			<input type="submit" value="Register">
		</form>
	</div>
	<div class="one-half column">
		<h3>Sign In</h3>
		<form action="/processLogin" method="POST">
			<input type="email" name="email" value="email">
			<input type="password" name="password" value="password">
			<input type="submit" value="Log In">
		</form>
	</div>
  </body>
</html>